
  <h2 id="section1-3">1-3 Выводим красным цветом "Hello, " и синим "world!"</h2>

  <p>Для подсвечивания цвета слов, фона разными цветами, жирного шрифта и сброса есть ANSI-коды:</p>
  <h4>Цвета текста:</h4>
  <ul>
    <li><span style="color: red;">красный</span> - <code>"\u001B[31m"</code></li>
    <li><span style="color: yellow;">желтый</span> - <code>"\u001B[33m"</code></li>
    <li><span style="color: green;">зеленый</span> - <code>"\u001B[32m"</code></li>
    <li><span style="color: blue;">синий</span> - <code>"\u001B[34m"</code></li>
    <li><span style="color: white; background-color: black;">белый</span> - <code>"\u001B[37m"</code></li>
  </ul>
  <h4>Цвета фона:</h4>
  <ul>
    <li><span style="background-color: red;">красный фон</span> - <code>"\u001B[41m"</code></li>
    <li><span style="background-color: yellow;">желтый фон</span> - <code>"\u001B[43m"</code></li>
    <li><span style="background-color: green;">зеленый фон</span> - <code>"\u001B[42m"</code></li>
    <li><span style="background-color: blue;">синий фон</span> - <code>"\u001B[44m"</code></li>
    <li><span style="background-color: white;">белый фон</span> - <code>"\u001B[47m"</code></li>
    <li>сброс цвета - <code>"\u001B[0m"</code></li>
    <li>жирный шрифт - <code>"\u001B[1m"</code></li>
  </ul>

  <h3>Написать программу, которая выводит на консоль красным цветом "Hello, " и синим "world!":</h3>
  <pre class="line-numbers"><code class="language-java">// Пример использования ANSI-кодов для цветного вывода
public class ColorExample &#123;
    public static void main(String[] args) &#123;
        // ANSI-код для сброса цвета
        final String RESET = "\u001B[0m";
        // ANSI-коды для цветов
        final String RED = "\u001B[31m";
        final String BLUE = "\u001B[34m";

        // Вывод текста с использованием цветов
        System.out.print(RED + "Hello, " + RESET);
        System.out.print(BLUE + "world!" + RESET);
    &#125;
&#125;</code></pre>
  <p>В результате выполнения этой программы на консоль будет выведено:</p>
  <pre><code><span style="color: red;">Hello, </span><span style="color: blue;">world!</span></code></pre>
  <h3>Задания для самостоятельной работы:</h3>
  <ul>
    <li>Написать красным <span style="color: red;">"Я изучаю язык программирования - Java!"</span></li>
    <li>Написать желтым <span style="color: yellow;">"Алёна любит учиться!"</span></li>
    <li>Написать зеленым <span style="color: green;">"Java один из самых популярных языков программирования!"</span></li>
    <li>Написать на синем фоне <span style="background-color: blue;">"Java основан 23 мая 1995г. Джеймсом Гослингом в компании Sun Microsystems."</span></li>
    <li>Написать на желтом фоне красным цветом <span style="color: red; background-color: yellow;"> Oracle выкупила права на Java."</span></li>
  </ul>

  <!-- Блок для видео с YouTube -->
  <h2>Смотрите видео ниже:</h2>
  <div class="video-container">
    <iframe src="https://www.youtube.com/embed/N8cK-lxUROY?start=0" allowfullscreen></iframe>
  </div>
