<h2 id="section4-8">4-8 Создать программу, которая находит наименьшее число в массиве</h2>

<p>Эта программа находит наименьшее число в массиве.</p>

<h3>Пример кода:</h3>
<pre class="line-numbers"><code class="language-java">public class MinInArrayExample &#123;
    public static void main(String[] args) &#123;
        int[] array = &#123;3, 9, 7, 1, 5&#125;;
        int min = array[0];
        for (int i = 1; i < array.length; i++) &#123;
            if (array[i] < min) &#123;
                min = array[i];
            &#125;
        &#125;
        System.out.println("Наименьшее число: " + min);
    &#125;
&#125;</code></pre>

<p>Вывод программы:</p>
<pre><code>Наименьшее число: 1</code></pre>

<!-- Блок для видео с YouTube -->
<h2>Смотрите видео ниже:</h2>
<div class="video-container">
  <iframe src="https://www.youtube.com/embed/N8cK-lxUROY?start=0" allowfullscreen></iframe>
</div>
