<h2 id="section1-1">1-1 Вывод на консоль println</h2>
<p>Метод <code>println()</code> добавляет символ новой строки после вывода текста, в отличие от <code>print()</code>. Это означает, что каждая новая строка начинается с новой линии.</p>

<h3>Пример кода:</h3>
<pre class="line-numbers"><code class="language-java">public class PrintlnExample &#123;
    public static void main(String[] args) &#123;
        System.out.println("Hello");
        System.out.println("World!");
    &#125;
&#125;</code></pre>

<p>Вывод программы:</p>
<pre><code>Hello
World!</code></pre>

<!-- Блок для видео с YouTube -->
<h2>Смотрите видео ниже:</h2>
<div class="video-container">
  <iframe src="https://www.youtube.com/embed/N8cK-lxUROY?start=0" allowfullscreen></iframe>
</div>
