<div class="content">
<h2 id="section1-1">1-1 Выводим в одну строку "Hello, world!"</h2>
<p>Написать программу, которая выводит на экран текст "Hello world!".</p>

<h3>Решение:</h3>
<pre><code class="java">
// Декларируем класс HelloWorld
public class HelloWorld &#123;
    // Декларируем главный метод main
    public static void main(String[] args) &#123;
        // Выводим на экран строку "Hello world!" с помощью метода println
        System.out.print("Hello, world!");
    &#125;
&#125;
  </code></pre>

<p>В результате выполнения этой программы на консоль будет выведено:</p>
<pre><code>
Hello, world!
  </code></pre>

<h3>Задания для самостоятельной работы:</h3>
<ul>
  <li>Вывести на экран в одну строку:
    <ul>
      <li>"Я изучаю язык программирования - Java!"</li>
      <li>"Алёна любит учиться!"</li>
      <li>"Java один из самых популярных языков программирования!"</li>
      <li>"Java основан 23 мая 1995г. Джеймсом Гослингом в компании Sun Microsystems."</li>
      <li>"Компания Oracle выкупила права на Java."</li>
    </ul>
  </li>
</ul>
</div>
