<h2 id="section4-6">4-6 Создать программу, которая находит сумму всех элементов массива</h2>

<p>Эта программа вычисляет сумму всех элементов массива.</p>

<h3>Пример кода:</h3>
<pre class="line-numbers"><code class="language-java">public class ArraySumExample &#123;
    public static void main(String[] args) &#123;
        int[] array = &#123;1, 2, 3, 4, 5&#125;;
        int sum = 0;
        for (int i = 0; i < array.length; i++) &#123;
            sum += array[i];
        &#125;
        System.out.println("Сумма элементов массива: " + sum);
    &#125;
&#125;</code></pre>

<p>Вывод программы:</p>
<pre><code>Сумма элементов массива: 15</code></pre>

<!-- Блок для видео с YouTube -->
<h2>Смотрите видео ниже:</h2>
<div class="video-container">
  <iframe src="https://www.youtube.com/embed/N8cK-lxUROY?start=0" allowfullscreen></iframe>
</div>
