<h2 id="section1-4">1-4 Выводим заголовок таблицы разными цветами</h2>
<p>Здесь мы используем разные цвета для заголовка таблицы с использованием ANSI-кодов.</p>

<h3>Пример кода:</h3>
<pre class="line-numbers"><code class="language-java">public class TableHeaderExample &#123;
    public static final String CYAN = "\u001B[36m";
    public static final String RESET = "\u001B[0m";

    public static void main(String[] args) &#123;
        System.out.println(CYAN + "Item\tPrice\tQuantity" + RESET);
    &#125;
&#125;</code></pre>

<p>Вывод программы (в консоли):</p>
<pre><code>Item    Price   Quantity (голубым)</code></pre>

<h2>Смотрите видео ниже:</h2>
<div class="video-container">
  <iframe src="https://www.youtube.com/embed/N8cK-lxUROY?start=0" allowfullscreen></iframe>
</div>
