<h2 id="section4-2">4-2 Написать программу, которая выводит числа от 10 до 1</h2>

<p>Эта программа использует цикл для вывода чисел в обратном порядке, от 10 до 1.</p>

<h3>Пример кода:</h3>
<pre class="line-numbers"><code class="language-java">public class ReverseLoopExample &#123;
    public static void main(String[] args) &#123;
        for (int i = 10; i >= 1; i--) &#123;
            System.out.println(i);
        &#125;
    &#125;
&#125;</code></pre>

<p>Вывод программы:</p>
<pre><code>10
9
8
7
6
5
4
3
2
1</code></pre>

<!-- Блок для видео с YouTube -->
<h2>Смотрите видео ниже:</h2>
<div class="video-container">
  <iframe src="https://www.youtube.com/embed/N8cK-lxUROY?start=0" allowfullscreen></iframe>
</div>
