<h2 id="section4-3">4-3 Написать программу, которая выводит все нечетные числа от 1 до 20</h2>

<p>Эта программа использует цикл для вывода всех нечетных чисел от 1 до 20.</p>

<h3>Пример кода:</h3>
<pre class="line-numbers"><code class="language-java">public class OddNumbersExample &#123;
    public static void main(String[] args) &#123;
        for (int i = 1; i <= 20; i++) &#123;
            if (i % 2 != 0) &#123;
                System.out.println(i);
            &#125;
        &#125;
    &#125;
&#125;</code></pre>

<p>Вывод программы:</p>
<pre><code>1
3
5
7
9
11
13
15
17
19</code></pre>

<!-- Блок для видео с YouTube -->
<h2>Смотрите видео ниже:</h2>
<div class="video-container">
  <iframe src="https://www.youtube.com/embed/N8cK-lxUROY?start=0" allowfullscreen></iframe>
</div>
