<h2 id="section4-1">4-1 Написать программу, которая выводит числа от 1 до 10</h2>

<p>Эта программа использует цикл для вывода чисел от 1 до 10.</p>

<h3>Пример кода:</h3>
<pre class="line-numbers"><code class="language-java">public class LoopExample &#123;
    public static void main(String[] args) &#123;
        for (int i = 1; i <= 10; i++) &#123;
            System.out.println(i);
        &#125;
    &#125;
&#125;</code></pre>

<p>Вывод программы:</p>
<pre><code>1
2
3
4
5
6
7
8
9
10</code></pre>

<!-- Блок для видео с YouTube -->
<h2>Смотрите видео ниже:</h2>
<div class="video-container">
  <iframe src="https://www.youtube.com/embed/N8cK-lxUROY?start=0" allowfullscreen></iframe>
</div>
