
  <h2 id="section2-3">2-3 Задача на проверку равенства или неравенства</h2>
  <p>Операторы <code>==</code> и <code>!=</code> используются для проверки равенства и неравенства двух значений соответственно. Результатом этих операций является булево значение (<code>true</code> или <code>false</code>).</p>

  <h3>Пример кода:</h3>
  <pre class="line-numbers"><code class="language-java">public class EqualityCheckExample &#123;
    public static void main(String[] args) &#123;
        int a = 5;
        int b = 10;
        System.out.println("a == b: " + (a == b));
        System.out.println("a != b: " + (a != b));
    &#125;
&#125;</code></pre>

  <p>Вывод программы:</p>
  <pre><code>a == b: false
a != b: true</code></pre>

  <h2>Смотрите видео ниже:</h2>
  <div class="video-container">
    <iframe src="https://www.youtube.com/embed/N8cK-lxUROY?start=0" allowfullscreen></iframe>
  </div>
