<h2 id="section4-9">4-9 Написать программу, которая находит число 5 в массиве и выводит его индекс</h2>
<p>Эта программа находит число 5 в массиве и выводит его индекс.</p>

<h3>Пример кода:</h3>
<pre class="line-numbers"><code class="language-java">public class FindIndexExample &#123;
    public static void main(String[] args) &#123;
        int[] array = &#123;1, 5, 3, 7, 5&#125;;
        for (int i = 0; i < array.length; i++) &#123;
            if (array[i] == 5) &#123;
                System.out.println("Число 5 найдено на индексе: " + i);
            &#125;
        &#125;
    &#125;
&#125;</code></pre>

<p>Вывод программы:</p>
<pre><code>Число 5 найдено на индексе: 1
Число 5 найдено на индексе: 4</code></pre>

<!-- Блок для видео с YouTube -->
<h2>Смотрите видео ниже:</h2>
<div class="video-container">
  <iframe src="https://www.youtube.com/embed/N8cK-lxUROY?start=0" allowfullscreen></iframe>
</div>
