
<h2 id="section3-5">3-5 Проверяем является ли число четным</h2>
<p>Программа проверяет, является ли число четным, используя оператор <code>%</code> для вычисления остатка от деления.</p>

<h3>Пример кода:</h3>
<pre class="line-numbers"><code class="language-java">public class EvenCheckExample &#123;
    public static void main(String[] args) &#123;
        int number = 8;

        if (number % 2 == 0) &#123;
            System.out.println("Число четное");
        &#125; else &#123;
            System.out.println("Число нечетное");
        &#125;
    &#125;
&#125;</code></pre>

<p>Вывод программы:</p>
<pre><code>Число четное</code></pre>
