
<h2 id="section3-4">3-4 Выводим текст "Идем на море", если солнечно (true)</h2>
<p>Если переменная <code>sunny</code> равна <code>true</code>, программа выводит "Идем на море".</p>

<h3>Пример кода:</h3>
<pre class="line-numbers"><code class="language-java">public class SunnyDayExample &#123;
    public static void main(String[] args) &#123;
        boolean sunny = true;

        if (sunny) &#123;
            System.out.println("Идем на море");
        &#125; else &#123;
            System.out.println("Остаемся дома");
        &#125;
    &#125;
&#125;</code></pre>

<p>Вывод программы:</p>
<pre><code>Идем на море</code></pre>
