
  <!-- Раздел с id section1 -->
  <h2 id="section1">1 Вывод на консоль print</h2>
  <p>В Java для вывода текста на консоль используется функция <code>print</code>. В отличие от <code>println</code>, метод <code>print</code> не добавляет символ новой строки. Это означает, что следующий вывод продолжается на той же строке.</p>

  <h3>Пример кода:</h3>
  <pre class="line-numbers"><code class="language-java">public class PrintExample &#123;
    public static void main(String[] args) &#123;
        System.out.print("Hello");
        System.out.print(", ");
        System.out.print("World!");
    &#125;
&#125;</code></pre>

  <p>Вывод программы:</p>
  <pre><code>Hello, World!</code></pre>

  <!-- Блок для видео с YouTube -->
  <h2>Смотрите видео ниже:</h2>
  <div class="video-container">
    <iframe src="https://www.youtube.com/embed/N8cK-lxUROY?start=0" allowfullscreen></iframe>
  </div>



