<div class="content">
<h2 id="section1">1 Вывод на консоль</h2>
<p>В Java для вывода текста на консоль используются функции <code>print</code> и <code>println</code>. <code>println</code> добавляет символ новой строки после вывода текста, тогда как <code>print</code> - нет. Это означает, что вывод, следующий за <code>println</code>, начнется с новой строки, в то время как вывод после <code>print</code> продолжится на той же строке.</p>

<h3>Пример ввода и вывода:</h3>
<pre class="line-numbers"><code class="java">// Пример использования функций print и println
public class PrintExample &#123;
    public static void main(String[] args) &#123;
        System.out.print("Hello");
        System.out.print(" ");
        System.out.print("world");
        System.out.println("!");
        System.out.println("Это новая строка.");
    &#125;
&#125;
</code></pre>
<p>В результате выполнения этой программы на консоль будет выведено:</p>
<pre><code>Hello world!
Это новая строка.
</code></pre>
  </div>
