
  <h2 id="section2-4">2-4 Задача на логические операторы >>, <<, ~</h2>
  <p>Операторы сдвига <code> >> </code>, <code> << </code> и побитовая инверсия <code>~</code> выполняют побитовые операции. Сдвиг вправо и влево изменяет положение битов числа, а побитовая инверсия изменяет все биты числа на противоположные.</p>

  <h3>Пример кода:</h3>
  <pre class="line-numbers"><code class="language-java">public class BitwiseOperatorsExample &#123;
    public static void main(String[] args) &#123;
        int a = 8; // 1000 в двоичном виде
        System.out.println("a >> 1: " + (a >> 1)); // сдвиг вправо
        System.out.println("a << 1: " + (a << 1)); // сдвиг влево
        System.out.println("~a: " + (~a)); // побитовая инверсия
    &#125;
&#125;</code></pre>

  <p>Вывод программы:</p>
  <pre><code>a >> 1: 4
a << 1: 16
~a: -9</code></pre>

  <h2>Смотрите видео ниже:</h2>
  <div class="video-container">
    <iframe src="https://www.youtube.com/embed/N8cK-lxUROY?start=0" allowfullscreen></iframe>
  </div>
