
<h2 id="section4">4 Цикл вывод 10 *</h2>
<p>Циклы позволяют повторять блок кода несколько раз. В этом разделе мы рассмотрим различные программы с использованием циклов для выполнения повторяющихся операций, таких как вывод чисел или работа с массивами.</p>

<h3>Пример кода для вывода 10 звездочек (*):</h3>
<pre class="line-numbers"><code class="language-java">public class StarPrintExample &#123;
    public static void main(String[] args) &#123;
        for (int i = 0; i < 10; i++) &#123;
            System.out.print("*");
        &#125;
    &#125;
&#125;</code></pre>

<p>Вывод программы:</p>
<pre><code>**********</code></pre>

<h2>Смотрите видео ниже:</h2>
<div class="video-container">
  <iframe src="https://www.youtube.com/embed/N8cK-lxUROY?start=0" allowfullscreen></iframe>
</div>
