
  <h2 id="section2-5">2-5 Задача на ++ и --</h2>
  <p>Операторы инкремента <code>++</code> и декремента <code>--</code> увеличивают или уменьшают значение переменной на 1 соответственно. Эти операторы могут быть использованы как в префиксной (<code>++x</code>, <code>--x</code>), так и постфиксной форме (<code>x++</code>, <code>x--</code>).</p>

  <h3>Пример кода:</h3>
  <pre class="line-numbers"><code class="language-java">public class IncrementDecrementExample &#123;
    public static void main(String[] args) &#123;
        int x = 5;
        System.out.println("x до ++: " + x);
        System.out.println("x++: " + (x++));
        System.out.println("x после ++: " + x);
        System.out.println("x до --: " + x);
        System.out.println("x--: " + (x--));
        System.out.println("x после --: " + x);
    &#125;
&#125;</code></pre>

  <p>Вывод программы:</p>
  <pre><code>x до ++: 5
x++: 5
x после ++: 6
x до --: 6
x--: 6
x после --: 5</code></pre>

  <h2>Смотрите видео ниже:</h2>
  <div class="video-container">
    <iframe src="https://www.youtube.com/embed/N8cK-lxUROY?start=0" allowfullscreen></iframe>
  </div>
