
<h2 id="section3-2">3-2 Выводим большее число из 2</h2>
<p>Задача выводит большее из двух чисел с использованием условий.</p>

<h3>Пример кода:</h3>
<pre class="line-numbers"><code class="language-java">public class MaxOfTwoExample &#123;
    public static void main(String[] args) &#123;
        int a = 10;
        int b = 20;

        if (a > b) &#123;
            System.out.println("Большее число: " + a);
        &#125; else &#123;
            System.out.println("Большее число: " + b);
        &#125;
    &#125;
&#125;</code></pre>

<p>Вывод программы:</p>
<pre><code>Большее число: 20</code></pre>

<!-- Блок для видео с YouTube -->
<h2>Смотрите видео ниже:</h2>
<div class="video-container">
  <iframe src="https://www.youtube.com/embed/N8cK-lxUROY?start=0" allowfullscreen></iframe>
</div>
