<h2 id="section4-5">4-5 Написать программу, которая выводит все элементы массива</h2>

<p>Эта программа использует цикл для вывода всех элементов массива.</p>

<h3>Пример кода:</h3>
<pre class="line-numbers"><code class="language-java">public class ArrayExample &#123;
    public static void main(String[] args) &#123;
        int[] array = &#123;1, 2, 3, 4, 5&#125;;
        for (int i = 0; i < array.length; i++) &#123;
            System.out.println(array[i]);
        &#125;
    &#125;
&#125;</code></pre>

<p>Вывод программы:</p>
<pre><code>1
2
3
4
5</code></pre>

<!-- Блок для видео с YouTube -->
<h2>Смотрите видео ниже:</h2>
<div class="video-container">
  <iframe src="https://www.youtube.com/embed/N8cK-lxUROY?start=0" allowfullscreen></iframe>
</div>
