  <h2 id="section2-2">2-2 Задача на оператор +=, -=, *=</h2>
  <p>Операторы <code>+=</code>, <code>-=</code>, <code>*=</code> используются для сокращённой записи операций присваивания. Например, <code>a += b</code> означает <code>a = a + b</code>.</p>

  <h3>Пример кода:</h3>
  <pre class="line-numbers"><code class="language-java">public class AssignmentOperatorsExample &#123;
    public static void main(String[] args) &#123;
        int a = 5;
        a += 3; // a = a + 3
        System.out.println("После a += 3: " + a);
        a -= 2; // a = a - 2
        System.out.println("После a -= 2: " + a);
        a *= 4; // a = a * 4
        System.out.println("После a *= 4: " + a);
    &#125;
&#125;</code></pre>

  <p>Вывод программы:</p>
  <pre><code>После a += 3: 8
После a -= 2: 6
После a *= 4: 24</code></pre>

  <h2>Смотрите видео ниже:</h2>
  <div class="video-container">
    <iframe src="https://www.youtube.com/embed/N8cK-lxUROY?start=0" allowfullscreen></iframe>
  </div>
