<h2 id="section4-4">4-4 Создать программу, которая вычисляет сумму чисел от 1 до 100</h2>

<p>Эта программа использует цикл для вычисления суммы чисел от 1 до 100.</p>

<h3>Пример кода:</h3>
<pre class="line-numbers"><code class="language-java">public class SumExample &#123;
    public static void main(String[] args) &#123;
        int sum = 0;
        for (int i = 1; i <= 100; i++) &#123;
            sum += i;
        &#125;
        System.out.println("Сумма: " + sum);
    &#125;
&#125;</code></pre>

<p>Вывод программы:</p>
<pre><code>Сумма: 5050</code></pre>

<!-- Блок для видео с YouTube -->
<h2>Смотрите видео ниже:</h2>
<div class="video-container">
  <iframe src="https://www.youtube.com/embed/N8cK-lxUROY?start=0" allowfullscreen></iframe>
</div>
