/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.sidebar {
  width: 250px; /* Задаем фиксированную ширину бокового меню */
  height: 100vh;
  overflow-y: auto; /* Добавляем прокрутку */
  padding: 10px;
  box-sizing: border-box;
}

mat-nav-list {
  padding: 0;
}

mat-list-item {
  white-space: normal; /* Разрешаем перенос текста на новую строку */
  word-wrap: break-word; /* Переносим текст в случае необходимости */
}

a {
  text-decoration: none; /* Убираем подчеркивание у ссылок */
  color: #1a73e8; /* Цвет ссылок, вы можете изменить его на свой вкус */
}

a:hover {
  text-decoration: underline; /* Подчеркивание при наведении */
}

pre, code {
  font-size: 1.1em; /* Увеличение размера шрифта для кода */
  line-height: 1.6; /* Увеличение межстрочного расстояния для лучшей читаемости */
}

pre {
  padding: 10px;
  background-color: #f5f5f5; /* Легкий серый фон для выделения кода */
  border-radius: 5px; /* Скругленные углы для эстетики */
  overflow-x: auto; /* Добавляет горизонтальную прокрутку, если нужно */
  font-family: Consolas, monospace;
  font-size: 15px;
  color: black;
}

code {
  font-family: Consolas, monospace; /* Шрифт для кода */
  background-color: #f4f4f4; /* Светло-серый фон */
  border-radius: 4px; /* Закругленные края */
  padding: 2px 4px;
}


/* Основной контейнер для всего контента */
app-root {
  display: flex;
  flex-direction: column; /* Вертикальное расположение хедера сверху */
  height: 100vh; /* 100% высоты окна браузера */
}

header {
  flex-shrink: 0; /* Хедер не сжимается */
  z-index: 1000;
  width: 100%;
}

.container {
  display: flex; /* Контейнер для меню и контента */
  flex-grow: 1; /* Занимает все оставшееся пространство после хедера */
  overflow: hidden; /* Ограничиваем прокрутку */
}

.menu {

}

.content {
  flex-grow: 1;
  overflow-y: auto; /* Только контент прокручивается */
  padding: 10px;
}
@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
  .content {
    width: 100%; /* Контент расширяется */
  }
}


/*
очень важные стили для кодов
*/
pre[class*="language-"], code[class*="language-"] {
  background-color: #f4f4f4; /* светло-серый цвет */
  color: #036abe; /* основной цвет */
}

.token.comment {
  color: #989898; /* серый цвет для комментариев */
}
.token.number {
  color: rgba(21, 138, 22, 0.63); /* зелёный цвет для цифр */
}
.token.keyword {
  color: #d85091; /* синий цвет для ключевых слов */
}

.token.string {
  color: #1dbe5d; /* зелёный цвет для строк */
}

.token.class-name {
  color: #141b1e; /* фиолетовый для классов */
}

.token.function {
  color: #036abe; /* оранжевый для функций */
}

.token.operator, .token.punctuation {
  color: #141b1e; /* более темный цвет для скобок и операторов */
  background-color: transparent; /* Прозрачный фон */

}

.token.constant{
  color: #d7a611;
}

/* styles.css */

.video-container {
  max-width: 500px; /* Максимальная ширина контейнера */
  background-position: center; /* Центрирование фона, если нужно */
  margin: 0; /* Убираем внешние отступы */
  height: 300px; /* Фиксированная высота */
  position: relative; /* Позволяет использовать абсолютное позиционирование для iframe */
  overflow: hidden; /* Скрывает части, выходящие за пределы контейнера */
  border-radius: 15px; /* Скругленные углы */
}

.video-container iframe {
  width: 100%; /* Ширина iframe 100% от родителя */
  height: 100%; /* Высота iframe 100% от родителя */
  border: none; /* Убираем рамку */
  border-radius: 15px; /* Скругленные углы */
}

.responsive-media {
  max-width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 500px;
}
