  <h2 id="section2-1">2-1 Задача на унарные операторы -x +x</h2>
  <p>Унарные операторы <code>-x</code> и <code>+x</code> позволяют изменять знак числа. Оператор <code>+x</code> не изменяет значение числа, тогда как <code>-x</code> изменяет его на противоположное.</p>

  <h3>Пример кода:</h3>
  <pre class="line-numbers"><code class="language-java">public class UnaryOperatorsExample &#123;
    public static void main(String[] args) &#123;
        int x = 5;
        System.out.println("x: " + x);
        System.out.println("-x: " + (-x));
        System.out.println("+x: " + (+x));
    &#125;
&#125;</code></pre>

  <p>Вывод программы:</p>
  <pre><code>x: 5
-x: -5
+x: 5</code></pre>

  <h2>Смотрите видео ниже:</h2>
  <div class="video-container">
    <iframe src="https://www.youtube.com/embed/N8cK-lxUROY?start=0" allowfullscreen></iframe>
  </div>
