
  <h2 id="section1-2">1-2 Экранированные символы</h2>
  <p>В Java для вывода специальных символов, таких как кавычки или обратный слэш, используются экранированные последовательности, например <code>\"</code> для кавычек и <code>\\</code> для обратного слэша.</p>

  <h3>Пример кода:</h3>
  <pre class="line-numbers"><code class="language-java">public class EscapeCharactersExample &#123;
    public static void main(String[] args) &#123;
        System.out.println("Это \"цитата\"");
        System.out.println("Путь к файлу: C:\\\\Users\\\\Documents");
    &#125;
&#125;</code></pre>

  <p>Вывод программы:</p>
  <pre><code>Это "цитата"
Путь к файлу: C:\Users\Documents</code></pre>


  <!-- Блок для видео с YouTube -->
  <h2>Смотрите видео ниже:</h2>
  <div class="video-container">
    <iframe src="https://www.youtube.com/embed/N8cK-lxUROY?start=0" allowfullscreen></iframe>
  </div>

