
<h2 id="section3">3 Условия boolean переменная и вывод значения</h2>
<p>Условия позволяют выполнять различные действия в зависимости от значения переменной. В этом разделе мы рассмотрим проверку условий с использованием операторов сравнения и булевых переменных.</p>

<h3>Пример кода с инициализацией boolean переменной:</h3>
<pre class="line-numbers"><code class="language-java">public class BooleanConditionExample &#123;
    public static void main(String[] args) &#123;
        // Инициализируем булевую переменную на основе условия 5 > 2
        boolean isGreater = 5 > 2;

        // Выводим значение переменной
        System.out.println("5 больше 2: " + isGreater);
    &#125;
&#125;</code></pre>

<p>Вывод программы:</p>
<pre><code>5 больше 2: true</code></pre>

<h2>Смотрите видео ниже:</h2>
<div class="video-container">
  <iframe src="https://www.youtube.com/embed/N8cK-lxUROY?start=0" allowfullscreen></iframe>
</div>
